src/conf/xml-resources/web-service-references/GetPublicacao/wsdl/localhost_8080/trab1TABD2FernandoDurier/GetPublicacao.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://tabd2.fernandodurier.unirio.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tabd2.fernandodurier.unirio.br/">

    <xs:element name="GetPublicacao" type="tns:GetPublicacao"/>

    <xs:element name="GetPublicacaoResponse" type="tns:GetPublicacaoResponse"/>

    <xs:complexType name="GetPublicacao">
        <xs:sequence>
            <xs:element name="titulo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetPublicacaoResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:publicacao" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="publicacao">
        <xs:sequence>
            <xs:element name="dataPublicacao" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="paginaFinal" type="xs:int"/>
            <xs:element name="paginaInicial" type="xs:int"/>
            <xs:element name="titulo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>